/* Tables Styles */

table.schedule {
background: white;
border: 10px outset rgb(255, 215, 0);
border-collapse: collapse;
font-size: 0.75em;
width: 100%;
}

table.schedule th, table.schedule td {
border: 1px solid gray;
}

table.schedule caption {
caption-side: bottom;
text-align: right;
}